<ion-content [fullscreen]="true">
  <div id="container">
<ion-grid>
  <ion-row>
    <ion-col>
      <h1>{{valor}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="limpar()"
      color="success"
      expand="block"
      size="default"
      fill="outline">C</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="calcular('m')"
      color="secondary"
      expand="block"
      size="default">M</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('x2')"
      color="secondary"
      expand="block"
      size="default">x²</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('xx')"
      color="secondary"
      expand="block"
      size="default">x^</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('%')"
      color="secondary"
      expand="block"
      size="default"
      size="default">%</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="mostraValor('7')"
      color="light"
      expand="block"
      size="default">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('8')"
      color="light"
      expand="block"
      size="default">8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('9')"
      color="light"
      expand="block"
      size="default">9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('x')"
      color="secondary"
      expand="block"
      size="default">x</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="mostraValor('4')"
      color="light"
      expand="block"
      size="default">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('5')"
      color="light"
      expand="block"
      size="default">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('6')"
      color="light"
      expand="block"
      size="default">6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('-')"
      color="secondary"
      expand="block"
      size="default">-</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="mostraValor('1')"
      color="light"
      expand="block"
      size="default">1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('2')"
      color="light"
      expand="block"
      size="default">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="mostraValor('3')"
      color="light"
      expand="block"
      size="default">3</ion-button>
    </ion-col>
     <ion-col>
      <ion-button
      (click)="calcular('+')"
      color="secondary"
      expand="block"
      size="default">+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="mostraValor('0')"
      color="light"
      expand="block"
      size="default">0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="btPonto()"
      color="secondary"
      expand="block"
      size="default">.</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('')"
      color="success"
      expand="block"
      size="default"
      fill="outline">=</ion-button>
    </ion-col>
    <ion-col>
      <ion-button
      (click)="calcular('/')"
      color="secondary"
      expand="block"
      size="default">/</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  </div>
</ion-content>
